@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');


a {
  color: #8a8fac;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #8ba3c7;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 14px
}

strong {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 14px;
}

classes {
  font-family: 'Crimson Text', Georgia, serif;
  font-weight: bold;
  font-size: 16px;
}

heading {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 22px;
}

misc {
  font-family: 'Crimson Text', Georgia, serif; 
  font-size: 18px;
}

papertitle {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 14px;
  font-weight: 600  
}

name {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
  padding-top: 5px;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

body{
  padding-left:10px;
  padding-right:10px;
}

span.highlight {
  background-color: #f8e6f8;
}